In [ ]:
#1
from math import pi
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def circumference(self):
        return (2 * (pi) * self.radius)

    def area(self):
        return (pi) * (self.radius ** 2)

radius = float(input("enter the radius of the circle "))
circle = Circle(radius)
print(f'The circumference of the circle is {circle.circumference()} and the area of the circle is {circle.area()}')

enter the radius of the circle 5
The circumference of the circle is 31.41592653589793 and the area of the circle is 78.53981633974483

In [ ]:
#2
class Faculty:
    
    def input_data(self):
        self.name = str(input("Enter the name of the Employee : "))
        self.emp_ID = str(input("Enter the employee ID : "))
        self.branch = str(input("Enter the branch : "))
        self.salary = int(input("Enter the salary : "))

    def out_data(self):
        print(f"Faculty Name : {self.name} \n Faculty Employee ID : {self.emp_ID} \n Faculty Branch : {self.branch} \n Faculty Salary : {self.salary}\n")
        

list_of_faculty = []
for x in range(0,5):
    faculty = Faculty()
    print(f"\nEnter the data of employee {x+1} : ")
    faculty.input_data()
    list_of_faculty.append(faculty)

for x in range(0,5):
    print(f"\n\n\nData of {x+1}th employee : ")
    list_of_faculty[x].out_data()

Enter the data of employee 1 :
Enter the name of the Employee : Prathamesh
Enter the employee ID : 20BCS103
Enter the branch : CSE
Enter the salary : 10000000

Enter the data of employee 2 :
Enter the name of the Employee : Prathamesh2
Enter the employee ID : 20BCS103
Enter the branch : ECE
Enter the salary : 2000000

Enter the data of employee 3 :
Enter the name of the Employee : Prathamesh3
Enter the employee ID : 20BCS104
Enter the branch : DSAI
Enter the salary : 1000000

Enter the data of employee 4 :
Enter the name of the Employee : Meshpratha
Enter the employee ID : 20CBS301
Enter the branch : 00000001
Enter the salary : 10000000

Enter the data of employee 5 :
Enter the name of the Employee : hesrathamp
Enter the employee ID : CSB013
Enter the branch : ECS
Enter the salary : 1000000100



Data of 1th employee :
Faculty Name : Prathamesh
 Faculty Employee ID : 20BCS103
 Faculty Branch : CSE
 Faculty Salary : 10000000




Data of 2th employee :
Faculty Name : Prathamesh2
 Faculty Employee ID : 20BCS103
 Faculty Branch : ECE
 Faculty Salary : 2000000




Data of 3th employee :
Faculty Name : Prathamesh3
 Faculty Employee ID : 20BCS104
 Faculty Branch : DSAI
 Faculty Salary : 1000000




Data of 4th employee :
Faculty Name : Meshpratha
 Faculty Employee ID : 20CBS301
 Faculty Branch : 00000001
 Faculty Salary : 10000000




Data of 5th employee :
Faculty Name : hesrathamp
 Faculty Employee ID : CSB013
 Faculty Branch : ECS
 Faculty Salary : 1000000100

In [ ]:
#3
class Account:
    def __init__(self, account_number, account_holder_name, amount):
        self.accountNumber = account_number
        self.accountHolderName = account_holder_name
        self.amount = amount

    def deposit(self):
        deposit_Amount = int(input("Enter the amount of money you wish to deposit in your bank account: "))
        self.amount += deposit_Amount
        print(f"You have  deposited : {deposit_Amount} rupees \nYour current balance is : {self.amount} rupees")

    def withdraw(self):
        withdraw_Amount = int(input("Enter the amount of money you wish to withdraw from your account: "))
        if withdraw_Amount > self.amount:
            print("Not enough money available in your bank account!.")
            return -1
        self.amount -= withdraw_Amount
        print(f"{withdraw_Amount} rupees have been withdrawn from your account \nYour current balance is {self.amount} rupees")
        return withdraw_Amount

    def check_bank_Balance(self):
        print(f"Your account balance is : {self.amount} rupees")
        return self.amount

    def getDetails(self):
        print(f"\nAccount Number : {self.accountNumber} \nAccount Holder Name : {self.accountHolderName} \nAccount Balance : {self.amount}")
        return self.accountNumber, self.accountHolderName, self.amount

account = Account(20103, "Prathamesh P Pai", 1000000)
account.deposit()
withdraw = account.withdraw()
balance = account.check_bank_Balance()
details = account.getDetails()

Enter the amount of money you wish to deposit in your bank account: 1000000
You have  deposited : 1000000 rupees
Your current balance is : 2000000 rupees
Enter the amount of money you wish to withdraw from your account: 20000
20000 rupees have been withdrawn from your account
Your current balance is 1980000 rupees
Your account balance is : 1980000 rupees

Account Number : 20103
Account Holder Name : Prathamesh P Pai
Account Balance : 1980000

In [24]:
#4
class student():
  def __init__(self,Student_Name,Student_USN,Student_Marks):
    self.Student_Name = Student_Name
    self.Student_USN = Student_USN
    self.Student_Marks = Student_Marks
  def Students_Name(self):
    print("Student Name: ", self.Student_Name)
  def Students_USN(self):
    print("Student USN: ", self.Student_USN)
  def Students_Marks(self):
    print("Student Marks: ",self.Student_Marks)
marks = []
marks.append(100)   
marks.append(99)
marks.append(98)

s1 = student("Prathamesh P Pai", 103, marks)
s1.Students_Name()
s1.Students_USN()
s1.Students_Marks()

Student Name:  Prathamesh P Pai
Student USN:  103
Student Marks:  [100, 99, 98]

In [27]:
#5
class Patient:
  def __init__(self, name, admission_date, symptoms : list, oxygen_level, discharge_date):
    self.name = name
    self.admission_date = admission_date
    self.symptoms = symptoms
    self.oxygen_level = oxygen_level
    self.discharge_date = discharge_date

class Data:
  def __init__(self):
    self.oxygen_support = []
    self.general_ward = []

  def Patient(self, patient):
    if (patient.oxygen_level < 90):
      self.oxygen_support.append(patient)
    else:
      self.general_ward.append(patient)

  def numberOxygen(self):
    print(f"Total number of patients who need oxygen support : {len(self.oxygen_support)}")

  def numberGeneral(self):
    print(f"Total number of patients in general ward : {len(self.general_ward)}")

  def totalPatients(self):
    print(f"Total number of patients : {len(self.general_ward)+len(self.oxygen_support)}")

  def patientInfo(self):
    print("Patients in oxygen support")
    for patient in self.oxygen_support:
      
      print("Name:", patient.name)
      print("Admission Date:", patient.admission_date)
      print("symptoms:", patient.symptoms)
      print("oxygen level:", patient.oxygen_level)
      print("Discharge Date:", patient.discharge_date)
      print("\n")

    print("Patients in General ward")
    for patient in self.general_ward:
      print("Name:", patient.name)
      print("Admission Date:", patient.admission_date)
      print("symptoms:", patient.symptoms)
      print("oxygen level:", patient.oxygen_level)
      print("Discharge Date:", patient.discharge_date)
      print("\n")

patient1 = Patient("Prathamesh", "15/09/2021", ["Fever", "Nausea"], 60, "22/09/2021")
patient2 = Patient("Rajesh", "16/09/2021", ["Fatigue", "Fever"], 130, "27/09/2021")

db = Data()
db.Patient(patient1)
db.Patient(patient2)
db.patientInfo()
db.numberOxygen()
db.numberGeneral()
db.totalPatients()

Patients in oxygen support
Name: Prathamesh
Admission Date: 15/09/2021
symptoms: ['Fever', 'Nausea']
oxygen level: 60
Discharge Date: 22/09/2021


Patients in General ward
Name: Rajesh
Admission Date: 16/09/2021
symptoms: ['Fatigue', 'Fever']
oxygen level: 130
Discharge Date: 27/09/2021


Total number of patients who need oxygen support : 1
Total number of patients in general ward : 1
Total number of patients : 2

In [28]:
#6
class time():
  def __init__(self,hr=0,min=0,sec=0):
    self.hour = hr
    self.minute = min
    self.second = sec
  def dis(self):
    print("Time :",self.hour,":",self.minute,":",self.second)
t1 = time()
t1.dis()
t1.hour = 11
t1.minute = 59
t1.second = 59
t1.dis()

Time : 0 : 0 : 0
Time : 11 : 59 : 59

In [29]:
#7
class student():
  def __init__(self,Student_Name,Student_Age,Student_Roll):
    self.Name = Student_Name
    self.Age = Student_Age
    self.Roll = Student_Roll

s1 = student("Rahul", 21, 33)
s2 = student("Rohit", 22, 74)
def check(s1, s2):
  if s1.Age == s2.Age:
    print("Age of both the students are equal")
  else:
    print("Age of the students are not equal")
check(s1,s2)

Age of the students are not equal

In [30]:
#8
class student():
  semester = "3"
  institute = "Indian institute of iinformation technology, Dharwad"
  def __init__(self,Name,USN):
    self.Name = Name
    self.USN = USN
  def display(self):
    print("Student Name: ",self.Name)
    print("Student USN: ",self.USN)

  @classmethod
  def dis_class(cls):
    print("Semester",cls.semester)
    print("Institute",cls.institute,"\n\n")
    
  @staticmethod
  def printclass(Name, USN, semester, institute):
    print("Student name: ",Name)
    print("student USN: ", USN)
    print("semester: ",semester)
    print("Institute: ",institute)

s1 = student("Prathamesh P Pai", 103)
s1.display()
s1.dis_class()
s1.printclass("Prathamesh P Pai",103,"3", "Indian institute of iinformation technology, Dharwad")

Student Name:  Prathamesh P Pai
Student USN:  103
Semester 3
Institute Indian institute of iinformation technology, Dharwad


Student name:  Prathamesh P Pai
student USN:  103
semester:  3
Institute:  Indian institute of iinformation technology, Dharwad

In [31]:
#9
class Student_Uni:

  def __init__(self, Name, roll_number, semester, laptop_name, laptop_cpu, laptop_ram, laptop_hard_disk):
    self.name = Name
    self.roll_num = roll_number
    self.sem = semester
    self.laptop = self.Laptop(laptop_name, laptop_cpu, laptop_ram, laptop_hard_disk)


  class Laptop:
    def __init__(self, name, cpu, ram : int, hard_disk):
      self.name = name
      self.cpu = cpu
      self.ram = ram
      self.hard_disk = hard_disk

    def specifications(self):
      print("Laptop Name:", self.name)
      print("Laptop CPU:", self.cpu)
      print("Laptop RAM:", self.ram, "GB")
      print("Laptop Hard disk:", self.hard_disk)

  def disp(self):
    print("Name:", self.name)
    print("Roll Number:", self.roll_num)
    print("Sem:", self.sem)
    self.laptop.specifications()

x = Student_Uni("Prathamesh P Pai", 103 , 3,"Lenovo Legion 5i", "Intel i7", 8, "512 GB SSD 1 TB HDD")
x.disp()

Name: Prathamesh P Pai
Roll Number: 103
Sem: 3
Laptop Name: Lenovo Legion 5i
Laptop CPU: Intel i7
Laptop RAM: 8 GB
Laptop Hard disk: 512 GB SSD 1 TB HDD